.uploader
  position relative
  height 10rem
  padding 1rem
  background #ccc
  border 5px dashed #888
  text-align center

.uploader.is-hovered
  border-color #333

.uploader label
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  padding-top 5rem
  cursor pointer

.uploader input
  display inline-block

.uploader progress
  margin-top 6rem

.uploader button
  position relative
  z-index 1
